@page
@model ShoeCareHistory.Pages.Shoes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Shoe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ShoeVM.Id" />
            <div class="form-group">
                <label asp-for="ShoeVM.ShoeMaker" class="control-label"></label>
                <select asp-for="ShoeVM.ShoeMaker" class="form-control"></select>
                @Html.DropDownList("ShoeMakerId", null, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label asp-for="ShoeVM.Name" class="control-label"></label>
                <input asp-for="ShoeVM.Name" class="form-control" />
                <span asp-validation-for="ShoeVM.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShoeVM.Code" class="control-label"></label>
                <input asp-for="ShoeVM.Code" class="form-control" />
                <span asp-validation-for="ShoeVM.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShoeVM.ProductName" class="control-label"></label>
                <input asp-for="ShoeVM.ProductName" class="form-control" />
                <span asp-validation-for="ShoeVM.ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShoeVM.Leather" class="control-label"></label>
                <input asp-for="ShoeVM.Leather" class="form-control" />
                <span asp-validation-for="ShoeVM.Leather" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShoeVM.Color" class="control-label"></label>
                <input asp-for="ShoeVM.Color" class="form-control" />
                <span asp-validation-for="ShoeVM.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShoeVM.ProductionDate" class="control-label"></label>
                <input asp-for="ShoeVM.ProductionDate" class="form-control" />
                <span asp-validation-for="ShoeVM.ProductionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShoeVM.PurchaseDate" class="control-label"></label>
                <input asp-for="ShoeVM.PurchaseDate" class="form-control" />
                <span asp-validation-for="ShoeVM.PurchaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
