@page
@model ShoeCareHistory.Pages.CareItems.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>CareItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CareItem.CareBrand" class="control-label"></label>
                @Html.DropDownListFor(
                       model => model.CareItem.CareBrandId,
                       Model.SelectList,
                       null,
                       new { @class = "form-control" }
                )
            </div>
            <div class="form-group">
                <label asp-for="CareItem.Name" class="control-label"></label>
                <input asp-for="CareItem.Name" class="form-control" />
                <span asp-validation-for="CareItem.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CareItem.CareCategory" class="control-label"></label>
                <select asp-for="CareItem.CareCategory" class="form-control"></select>
                <span asp-validation-for="CareItem.CareCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
