@page
@model ShoeCareHistory.Pages.InOutModel
@{
    ViewData["Title"] = "InOut";
}

<h2>InOut</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                @Html.DropDownListFor(
                   model => model.SelectedValue,
                   Model.SelectListItems,
                   null,
                   new { @class = "form-control" }
                )
                <input type="submit" class="form-control" asp-page-handler="Output" value="Output" />
                <input type="submit" class="form-control" asp-page-handler="Input" value="Input" />
            </div>
        </form>
    </div>
</div>
